# Папки IDE
.idea/
.vscode/

# Папка сборки
cmake-build-*/

# Временно распакованные библиотеки
_deps/

# Исполняемые файлы
*.exe
*.out

# Объектные файлы
*.o
*.obj

# Динамические и статические библиотеки
*.dll
*.so
*.a